@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image2.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #6a483fc4;
    border: 2px solid #6a483f;
    border-radius: 8px;
    color: #BE9C9A;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    font-family: 'Open Sans', sans-serif;
    background-color: #0b170b;
    color: #77927d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url(../img/image1.jpeg);
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #171A18c4;
    border: 2px solid #171A18;
    border-radius: 8px;
    color: #778492;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality-text {
    font-family: 'Open Sans', sans-serif;
    background-color: #0c0b17;
    color: #7f7792;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.quality-textbox h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url(../img/image3.jpeg);
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #1a1717c4;
    border: 2px solid #1a1717;
    border-radius: 8px;
    color: #927777;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    font-family: 'Open Sans', sans-serif;
    background-color: #1a1717;
    color: #927777;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}

.origin-textbox h3 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    height: 170px;
    background-color: #161e16;
    color: #748a79;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    text-decoration: none;
    color: #748a79;
}

.footer ul li:hover {
    transform: scale(1.2);
}

